<div class="container">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="authcontainter">
        <div class="login">
            <div>
                <h4 class="hidden-xs text-center">SIGN IN</h4>
                <span class="visible-xs"></span>
            </div>
            <div class="hidden-xs"></div>
            <form>
                <div class="group form-group">
                    <input type="text"><span class="highlight"></span><span class="bar"></span>
                    <label>Username</label>
                </div>
                <div class="group form-group">
                    <input type="email"><span class="highlight"></span><span class="bar"></span>
                    <label>Password</label>
                </div>
                <button type="button" class="button buttonBlue loginBtn">Login
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
            </form>
            <div>
                <span>Don’t have an account?</span>
            </div>
            <div class="registerlink">
                <a href="#/register"><span>Register Now</span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>