<div class="vertical-center">
    <div class="container-fluid demo-md-panel md-padding">
        <div class="row text-center">
            <form name="registerForm" action="login.html" class="login registerForm">
                <div>
                    <h4 style="color:gray; font-size: 1.6em;" class="hidden-xs text-center"><strong>{{registerTitle}}</strong></h4>
                </div>
                <hr>
		        <!-- <i class="material-icons">account_box</i> -->
		        <div class="group">
                	<!-- <md-icon md-svg-src="/images/person.png" class="name"></md-icon> -->
                    <input ng-model="name" type="text"><span class="highlight"></span><span class="bar"></span>
                    <label>Name</label>
                </div>
                <div class="group">
                	<!-- <md-icon md-svg-src="/images/person.png" class="name"></md-icon> -->
                    <input ng-model="email" type="email"><span class="highlight"></span><span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                	<!-- <md-icon md-svg-src="/images/person.png" class="name"></md-icon> -->
                    <input ng-model="username" type="text"><span class="highlight"></span><span class="bar"></span>
                    <label>Username</label>
                </div>
			    <div class="group">
			        <h4>Date Of Birth</h4>
			        <md-datepicker ng-model="dateOfBirth" md-placeholder="Enter date"></md-datepicker>
			    </div>
                <div class="group">
                	<!-- <md-icon md-svg-src="/images/person.png" class="name"></md-icon> -->
                    <input ng-model="phoneNum" type="text" angular-mask="9999999999"><span class="highlight"></span><span class="bar"></span>
                    <label>Phone Number</label>
                </div>
                <div class="group">
	                <!-- <md-input-container class="md-block">
			          <label>Address</label>
			          <textarea ng-model="address" md-maxlength="150" rows="5" md-select-on-focus></textarea>
			        </md-input-container> -->
			        <md-input-container>
					  <label>Address</label>
					  <textarea ng-model="address" rows="5" cols="40"></textarea>
					</md-input-container>
			    </div>
			  	<div class="group">
				  	<select ng-model='country' class='form-control'>
			            <option value="default" ng-selected="selected">Select a Country</option>
			            <option ng-repeat="country in countries" ng-value="country">{{country}}</option>
			        </select>
		        </div>
		        <div class="group">
			        <select ng-model='state' class='form-control'>
			            <option value="default" ng-selected="selected">Select a State</option>
			            <option ng-repeat="state in states" ng-value="state">{{state}}</option>
			        </select>
			    </div>
                <!-- <md-card-content>
                    <div layout="row">
                        <md-input-container class="container">
                            <label>Country</label>
                            <md-select ng-model="country" class="selectpicker" required>
                                <md-option ng-repeat="country in countries" ng-value="country">
                                    {{country}}
                                </md-option>
                            </md-select>
                        <select class="selectpicker">
						  <option>Mustard</option>
						</select>
                        </md-input-container>
                    </div>
                </md-card-content> -->
                <div class="row">
                    <button type="button" ng-click="ack()" class="button buttonBlue loginBtn">Register
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                    <button type="button" ng-click="" class="button buttonBlue loginBtn">Reset
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </div>
                <div class="row">
                    <span style="color: #1c699d">Login Here</span>
                    <br>
                    <a href="/#/login"><span style="font-size: 0.7em">Login</span></a>
                </div>
            </form>
      </div>
</div>