
a {
  color: #00B7FF;
}
body{
  font-size: 14px;
  line-height: 1.42857143;
  padding: 50px;
  color: #888888;
  background-color: #333333 !important;
  padding: 50px;
}

body.container{
	width: inherit !important;
  background-color: #060606;
}
.loginBtn{
  padding-top: 0.2em;
  height: 1em;
  width: 1.4em;
}

.mainContainer{
	width: 100%;
	background-color: #272B30;
}

.headerImg{
	padding: 0.5em 1em 1em 1em;
    max-height: 100%;
    max-width: 100%;
}

.right-menu{
	padding: 2em 1.2em 1.2em 1.2em; 
}
a.list-group-item, button.list-group-item{
	padding: 1em 0em 1em 0em;
    text-align: center;
}